.width-container {
  width: 100%;
  pointer-events: none;
}

.hidden-container {
  width: 0;
  height: 0;
  overflow: hidden;
  position: relative;
  pointer-events: none;
}

.hidden-inner {
  position: absolute;
}

.more-link-btn {
  padding: 5px 8px !important;
}

.menu-list {
  :global {
    .ant-dropdown-menu-item {
      padding: 0 !important;
      background: transparent !important;
    }

    .button-group-item {
      padding: 5px 8px !important;
      border: none;
      width: 100%;

      &:not(:disabled) {
        color: var(--primary-color);
      }

      &:disabled {
        background: #ffffff;
      }

      .ant-btn-primary {
        color: #ffffff;
      }

      .ant-btn-loading-icon {
        display: none;
      }

      &:hover:not(:disabled) {
        color: var(--primary-color);
        background: var(--primary-color-1) !important;
      }

      &.ant-btn-dangerous:not(:disabled) {
        color: #ff4d4f;

        &:hover {
          background: #fff1f0 !important;
        }
      }
    }
  }
}
